@charset "utf-8";

.main {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 250px;
  background: url("/images/056367c689efc4689ba77d7a8b514510_m.jpg") center center no-repeat;
  background-size: cover;
  
  h1{
    color: rgba(0,0,0,0.6);
    line-height: 250px;
    font-size: 30px;
    letter-spacing: 0.30rem;
  }
}

.back-to-list::after{
  content: "";
  display: block;
  clear: both;
}

.back-to-list{
  
  .back-to-list-button{
    float: right;
    display: inline-block;
  }
  
}

.double-rows-button{
  margin-right: 10px;
}

#items-row{
  #items-list-title{
    margin: 10px 0 0 15px;
    float: left;
  }
  
  #add_new_item_button{
    float: right;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
  }
}



#search-target-category{
  
  width: 100%;
  height: 40px;
  margin: 20px 0 30px ;
  
  .target_form{
    margin: 0 auto;
    #search-input{
      display: block;
    }
    #target-submit{
      display: inline-block;
      margin: 10px;
      height: 25px;
      width:13%;
    }
  }
}

#not_found_items{
  margin: 80px 0;
}

.color-blue{
  background-color: #dff0d8;
}

.color-red{
  background-color: #f2dede;
}

.outcome{
  height: 40px;
  
  #total-expense{
    padding-right: 10px;
    height: 30px;
    border-right: 1px solid #ddd;
    font-size: 25px;
    display: inline-block;
  }
  #value-expense{
    padding-left: 10px;
    font-size: 20px;
    display: inline-block;
    height: 30px;
    margin-right: 20px;
  }
  
}

footer{
  margin-top: 40px;
}

.show-buttons{
  float: right;
}
