@charset "utf-8";

.main {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 250px;
  background: url("/images/056367c689efc4689ba77d7a8b514510_m.jpg") center center no-repeat;
  background-size: cover;
  
  h1{
    color: rgba(0,0,0,0.6);
    line-height: 250px;
    font-size: 30px;
    letter-spacing: 0.30rem;
  }
}

.back-to-list::after{
  content: "";
  display: block;
  clear: both;
}

.back-to-list{
  
  .back-to-list-button{
    float: right;
    display: inline-block;
  }
  
}

.double-rows-button{
  margin-right: 10px;
}

#add_new_item_button{
  // float: right;
  
  &:after{
    content: "";
    display: block;
    clear: both;
    
  }
}


#search-target-category{
  
  .target_form{
    display: inline-block;
    margin: 0 auto;
    width: 400px;
  }
  
  .target_submit{
    display: inline-block;
    
  }
}

#not_found_items{
  margin-top: 80px;
}

.color-blue{
  background-color: #dff0d8;
}

.color-red{
  background-color: #f2dede;
}

.outcome{
  float: right;
  height: 40px;
  
  #total-expense{
    padding-right: 10px;
    height: 30px;
    border-right: 1px solid #ddd;
    font-size: 25px;
    display: inline-block;
  }
  #value-expense{
    padding-left: 10px;
    font-size: 20px;
    display: inline-block;
    height: 30px;
  }
  
}